body {
    font-family: 'Poppins';
    background: linear-gradient(180deg, #184E77 0%, #1E6091 52.4%, #168AAD 100%);
    align-content: center;
}


.t1 {
    font-size: 90px;
    font-weight: 700;
    background: linear-gradient(90deg, #76C893 8.65%, #B5E48C 52.88%, #D9ED92 96.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.t2 {
    font-size: 36px;
    font-weight: 700;
    
    background: linear-gradient(90deg, #76C893 8.65%, #B5E48C 52.88%, #D9ED92 96.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.t3 {
    background: var(--Test, linear-gradient(90deg, #76C893 8.65%, #B5E48C 52.88%, #D9ED92 96.15%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boxes {
    display: flex;
}

.c1, .c2, .c3, .c4 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 1600px;
    align-items: center;
    margin-right: 30px;
}
.people {
    width: 250px; 
    height: 400px;
}

.tulisan {
    font-weight: 400;
}

.nama {
    font-weight: 700;
    font-style: bold;
    font-size : 30px;
}

.fakultas {
    font-weight: 700;
    font-size: 25px;
}

.deskripsi {
    font-size: 20px;
}

.icons:hover { 
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); 

}
.information {
    background: var(--oohhohooh, linear-gradient(90deg, #10C58B 0%, #00CFF9 66.35%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 8.745px 8.745px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 48.1px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float:left;
}